*,
html,
body {
  box-sizing: border-box;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  font-size: 14px;
  padding: 50px;
}

a { color: #00B7FF; }

.cinemine {
  font-size: 275px;
  margin-bottom: 0;
  position: absolute;
  top: 280px;
}
