*,
html,
body {
  box-sizing: border-box;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  font-size: 14px;
  padding: 50px;
}

a { color: #00B7FF; }

.cinemine {
  font-size: 275px;
  position: absolute;
  top: 280px;
}

/*signin state*/
.signin-container {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  border: 2px solid;
  padding: 30px;
}

.line {
  border: 1px solid;
}

.signup, .login {
  font-size: 100px;
}

.form-containers {
  border: 2px solid;
  padding: 30px;
}
