*,
html,
body {
  box-sizing: border-box;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  font-size: 14px;
  padding: 50px;
}

a { color: #00B7FF; }

/*landing state*/
.cinemine {
  font-size: 275px;
  position: relative;
  top: 380px;
  color: white;
  text-decoration: none;
  opacity: 0.7;
}

#cinemine {
  text-align: center;
}

.video-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a:hover {
  color: white !important;
  opacity: 1;
}
/*signin state*/
.signin-container {
  display: flex;
  justify-content: space-around;
  border: 2px solid;
  padding: 30px;
}

.line {
  border: 1px solid;
}

.signup, .login {
  border: 2px solid gainsboro;
  text-align: center;
  font-size: 27px;
  width: 202px;
  padding: 50px;
  margin: 0 auto;
  /* height: 16px; */
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 27px;
}

.form-containers {
  border: 2px solid;
  padding: 30px;
  width: 550px;
}

#email.red-border {
  border: 2px solid red;
}

/*navbar*/

.navbar {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid;
}

.navs{
  display:table-cell;
}

#navs {
  color: black !important;
  text-decoration: none;
}

/*browse*/

.browse-text {
  font-size: 200px;
  border-bottom: 2px solid;
  margin-top: 50px;
  padding-right: 40px;
  padding-left: 40px;
}

/*genre search*/

.rotate {
  transform: rotate(-90deg);
}

.genre {
  font-size: 200px;
  position: absolute;
  left: -230px;
  top: 408px;
  margin-top: 15px;
  height: 220px;
  border-bottom: 2px solid black;
}

.genre-container {
  display: flex;
}


.genre-list-container {
  border: 2px solid;
  margin-left: 200px;
  text-align: center;
  margin-right: 100px;
}

.genres {
  list-style-type: none;
  font-size: 80px;
}

a.genres {
  color: black !important;
  text-decoration: none;
  cursor: pointer;
}

.movie-link {
  position: relative;
  top: 220px;
  font-size: 30px;
}

.movie-results {
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  bottom: 336px;
  left: 90px;
}

.one-movie-container {
  /*border: 2px solid;*/
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  height: 520px;
  /*background: black;*/
}

/*title search*/

.search-bar {
  width: 1100px;
  float: right;
}

.submit-title-button {
  float: right;
}

.title-container {
  /*border: 2px solid;*/
  display: flex;
  justify-content: center;
}

.title {
  font-size: 200px;
  position: relative;
  left: -50px;
  top: 140px;
  margin-top: 15px;
  border-bottom: 2px solid black;
  height: 220px;
  /*border: 2px solid;*/
}

.movie-info {
  /*border: 2px solid;*/
  margin: 0 auto;
}

.movie-poster {
  padding-left: 30px;
  padding-right: 15px;
}

.movie {
  background: rgba(0,0,0,0.5);
   color: white;
   cursor: pointer;
   display: table;
   height: 513px;
   width: 342px;
   position: relative;
   top: -525px;
   left: 31px;
   text-decoration: none;
   opacity: 0;
   /*text-align: center;*/
}

.movie-poster:hover .movie {
  opacity: 1;
}

/*most popular page*/

.popular {
  font-size: 200px;
  position: absolute;
  left: -362px;
  top: 533px;
  margin-top: 15px;
  height: 220px;
  border-bottom: 2px solid black;
}

.popular-movies {
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  left: 72px;
}

.mostPopular {
/*  height: 800px;
  width: 500px;*/
}

/*movie show page*/

.picture-container {
  /*border: 2px solid;*/
  display: flex;
  position: relative;
  right: 33px;
}

.backdrop-container {
  /*border: 2px solid;*/
}

.backdrop {
  width: 650px !important;
}

.poster {
  height: 1110px !important;
}

.title-overview {
  display: flex;
  flex-wrap: wrap;
}

.overview {
  border-bottom: 2px solid;
  height: 100px;
}

.release-date {
  position: relative;
  left: 20px;
}
.pure-menu {
  position: absolute;
  left: 1300px;
}

/*movie list page*/

/*.list-container, .favorite-list, .watched-list {
  border: 2px solid;
}*/

.favorite-list, .watched-list {
  display: flex;
  flex-wrap: wrap;
}

.movie-in-list {
  padding-left: 10px;
}

.list-text {
  font-size: 200px;
  margin-bottom: 0px;
  margin-top: 20px;
}


