<ul class="navbar" ng-controller="NavController as vm">
  <li class="navs"><a id="navs">Home</a></li>
  <li class="navs"><a id="navs">My Movies</a></li>
  <li class="navs"><a id="navs">Movie Bank</a></li>
  <li class="navs"><a id="navs" ui-sref="browse">Browse</a></li>
  <li class="navs"><a id="navs">Movie Buffs</a></li>
  <li ng-click="vm.logOut()" class="navs"><a id="navs">Log Out</a></li>
  <li class="navs">Welcome</li>
</ul>

<div class="browse-container">
  <h1 class="browse-text"><a id="navs" ui-sref="genre">GENRE.</a></h1>
  <h1 class="browse-text">TITLE.</h1>
  <h1 class="browse-text">RATING.</h1>
</div>
