<h1>CineMine</h1>
<ul class="navbar" ng-controller="NavController as vm">
  <li class="navs"><a id="navs" ui-sref="home">Home</a></li>
  <li class="navs"><a id="navs" ui-sref="mymovies">My Movies</a></li>
  <li class="navs"><a id="navs" ui-sref="moviebank">Movie Bank</a></li>
  <li class="navs"><a id="navs" ui-sref="browse">Browse</a></li>
  <li class="navs"><a id="navs" ui-sref="moviebuffs">Movie Buffs</a></li>
  <li ng-click="vm.logOut()" class="navs"><a id="navs">Log Out</a></li>
  <li class="navs">Welcome</li>
</ul>

<main ng-if="'genre' | isState">
  <div class="pagein">
  </div>
  <div class="genre-container">
    <h1 class="rotate genre">GENRE.</h1>
    <div class="genre-list-container">
      <ul ng-repeat="genre in vm.genres">
        <li class="genres"><a class="genres" ng-click="vm.showGenre(genre, 1);">{{genre}}</a></li>
        <ul class="pagination">
          <li><a>«</a></li>
          <li><a class="active" ng-click="vm.showGenre(genre, 1)">1</a></li>
          <li><a ng-click="vm.showGenre(genre, 2)">2</a></li>
          <li><a ng-click="vm.showGenre(genre, 3)">3</a></li>
          <li><a ng-click="vm.showGenre(genre, 4)">4</a></li>
          <li><a ng-click="vm.showGenre(genre, 5)">5</a></li>
          <li><a ng-click="vm.showGenre(genre, 6)">6</a></li>
          <li><a ng-click="vm.showGenre(genre, 7)">7</a></li>
          <li><a ng-click="vm.showGenre(genre, 8)">8</a></li>
          <li><a ng-click="vm.showGenre(genre, 9)">9</a></li>
          <li><a ng-click="vm.showGenre(genre, 10)">10</a></li>
          <li><a>»</a></li>
        </ul>
      </ul>
    </div>
    <div class="movies">
      <h1>
        <ul ng-repeat="movie in vm.movieInfo">
          <li class="one-movie-container">
            <img class="movie-poster" src="http://image.tmdb.org/t/p/w342{{movie.poster_path}}" title="{{movie.title}}">
            <br>
            <a class="movie" ui-sref="genre.movie({movieTitle: movie.title})" ng-click="vm.showMovie(movie); vm.getMovieImages(movie.id)" data-movie-id="{{movie.id}}"><p class="movie-link">{{movie.title}}</p></a>
          </li>
        </ul>
      </h1>
    </div>
    <div class="blank-space"></div>
  </div>

</main>

<main ui-view>  </main>

