<ul class="navbar" ng-controller="NavController as vm">
  <li class="navs"><a id="navs">Home</a></li>
  <li class="navs"><a id="navs">My Movies</a></li>
  <li class="navs"><a id="navs">Movie Bank</a></li>
  <li class="navs"><a id="navs" ui-sref="browse">Browse</a></li>
  <li class="navs"><a id="navs">Movie Buffs</a></li>
  <li ng-click="vm.logOut()" class="navs"><a id="navs">Log Out</a></li>
  <li class="navs">Welcome</li>
</ul>

<main ng-controller="GenreController as vm">
  <div class="genre-container">
    <h1 class="rotate genre">GENRE.</h1>
    <div class="genre-list-container">
      <ul ng-repeat="genre in vm.genres">
        <li class="genres"><a id="genres" ui-sref="">{{genre.name}}</a></li>
      </ul>
    </div>
    <div class="box"></div>
  </div>
</main>
