<ul class="navbar" ng-controller="NavController as vm">
  <li class="navs"><a id="navs">Home</a></li>
  <li class="navs"><a id="navs">My Movies</a></li>
  <li class="navs"><a id="navs">Movie Bank</a></li>
  <li class="navs"><a id="navs" ui-sref="browse">Browse</a></li>
  <li class="navs"><a id="navs">Movie Buffs</a></li>
  <li ng-click="vm.logOut()" class="navs"><a id="navs">Log Out</a></li>
  <li class="navs">Welcome</li>
</ul>

<main ng-controller="GenreController as vm">
  <div class="genre-container">
    <h1 class="rotate genre">GENRE.</h1>
    <div class="genre-list-container">
      <!-- <h2 ng-click="showaction=true">{{vm.genres[0].name}}</h2> -->
      <ul ng-repeat="genre in vm.genres">
        <li class="genres"><a class="genres" ng-click="vm.showGenre(genre, 1);">{{genre}}</a></li>
      </ul>
    </div>
    <div class="movie-results">
      <h1>
        <ul ng-repeat="movie in vm.movieInfo">
          <li>
            <a ui-sref="movie" data-movie-id="{{movie.id}}">{{movie.title}}</a>
            {{movie.id}}
          </li>
        </ul>
      </h1>
    </div>
  </div>

</main>
