<h1>CineMine</h1>
<ul class="navbar" ng-controller="NavController as vm">
  <li class="navs"><a id="navs" ui-sref="home">Home</a></li>
  <li class="navs"><a id="navs" ui-sref="mymovies">My Movies</a></li>
  <li class="navs"><a id="navs" ui-sref="moviebank">Movie Bank</a></li>
  <li class="navs"><a id="navs" ui-sref="browse">Browse</a></li>
  <li class="navs"><a id="navs" ui-sref="moviebuffs">Movie Buffs</a></li>
  <li ng-click="vm.logOut()" class="navs"><a id="navs">Log Out</a></li>
  <li class="navs">Welcome</li>
</ul>

<div ng-hide="vm.userInfo">
  <h1 class="movie-buffs">Movie Buffs</h1>
  <div class="movie-buff-index">
    <div class="name-and-circle" ng-repeat="user in vm.users">
      <p ng-click="vm.setUser(user)" class="user-name">{{user.firstName}}</p>
      <div class="circle"></div>
    </div>
  </div>
</div>

<div ng-show="vm.userInfo">
  <div class="user-title-info">
    <h1 class="username">{{vm.userInfo.firstName}}'s</h1>
    <span class="following">Following</span>
    <span class="followers">Followers</span>
    <span class="buffs" ng-click="vm.clearUser()">See More Buffs</span>
    <button ng-click="vm.followUser(vm.userInfo)" class="follow">FOLLOW</button>
  </div>

  <div class="list-container">
    <div>
    <h1 class="list-text">FAVORITES</h1>
    <div class="favorite-list">
      <ul ng-repeat="movie in vm.userInfo.favoriteMovies">
        <!-- <li>{{movie.title}}</li> -->
        <img class="movie-in-list" src="http://image.tmdb.org/t/p/w185{{movie.poster_path}}">
      </ul>
    </div>
    </div>
    <div>
    <h1 class="list-text">WATCHED</h1>
    <div class="watched-list">
      <ul ng-repeat="movie in vm.userInfo.watchedMovies">
        <!-- <li>{{movie.title}}</li> -->
        <img class="movie-in-list" src="http://image.tmdb.org/t/p/w185{{movie.poster_path}}">
      </ul>
    </div>
    </div>

  </div>

</div>
