<h1>CineMine</h1>
<ul class="navbar" ng-controller="NavController as vm">
  <li class="navs"><a id="navs" ui-sref="home">Home</a></li>
  <li class="navs"><a id="navs" ui-sref="mymovies">My Movies</a></li>
  <li class="navs"><a id="navs" ui-sref="moviebank">Movie Bank</a></li>
  <li class="navs"><a id="navs" ui-sref="browse">Browse</a></li>
  <li class="navs"><a id="navs">Movie Buffs</a></li>
  <li ng-click="vm.logOut()" class="navs"><a id="navs">Log Out</a></li>
  <li class="navs">Welcome</li>
</ul>

<div ng-controller="GenreController as vm">
<h1>Favorite Movies</h1>
<ul ng-repeat="movie in vm.favoriteMovies">
  <li>{{movie.title}}</li>
  <img src="http://image.tmdb.org/t/p/w342{{movie.poster_path}}">
</ul>


<h1>Watched Movies</h1>

<ul ng-repeat="movie in vm.watchedMovies">
  <li>{{movie.title}}</li>
  <img src="http://image.tmdb.org/t/p/w342{{movie.poster_path}}">
</ul>

</div>

