<h1>CineMine</h1>
<ul class="navbar" ng-controller="NavController as vm">
  <li class="navs">Welcome, &nbsp {{vm.currentUser.firstName}}!</li>
  <li class="navs"><a id="navs" ui-sref="home">Home</a></li>
  <li class="navs"><a id="navs" ui-sref="mymovies">My Movies</a></li>
  <li class="navs"><a id="navs" ui-sref="moviebank">Movie Bank</a></li>
  <li class="navs"><a id="navs" ui-sref="browse">Browse</a></li>
  <li class="navs"><a id="navs" ui-sref="moviebuffs">Movie Buffs</a></li>
  <li ng-click="vm.logOut()" class="navs"><a id="navs">Log Out</a></li>
</ul>

<main ng-if="'mymovies' | isState">

<div class="list-container" ng-controller="MovieController as vm">
  <div>
    <h1 class="list-text">Favorites</h1>
    <div class="favorite-list">
      <ul ng-repeat="movie in vm.currentUser.favoriteMovies">
        <!-- <li>{{movie.title}}</li> -->
        <a ui-sref="mymovies.movie" ng-click="vm.showMovie(movie); vm.getMovieImages(movie.id)"><img class="movie-in-list" src="http://image.tmdb.org/t/p/w185{{movie.poster_path}}"></a>
      </ul>
    </div>
  </div>
  <div>
    <h1 class="list-text">Watched</h1>
    <div class="watched-list">
      <ul ng-repeat="movie in vm.currentUser.watchedMovies">
        <!-- <li>{{movie.title}}</li> -->
        <img class="movie-in-list" src="http://image.tmdb.org/t/p/w154{{movie.poster_path}}">
        <button class="delete" ng-click="vm.removeMovie(movie)">DELETE</button>
      </ul>
    </div>
  </div>

</div>
</main>

<main ui-view> </main>


