<h1>CineMine</h1>
<ul class="navbar" ng-controller="NavController as vm">
  <li class="navs">Welcome, &nbsp {{vm.currentUser.firstName}}!</li>
  <li class="navs"><a id="navs" ui-sref="home">Home</a></li>
  <li class="navs"><a id="navs" ui-sref="mymovies">My Movies</a></li>
  <li class="navs"><a id="navs" ui-sref="moviebank">Movie Bank</a></li>
  <li class="navs"><a id="navs" ui-sref="browse">Browse</a></li>
  <li class="navs"><a id="navs" ui-sref="moviebuffs">Movie Buffs</a></li>
  <li ng-click="vm.logOut()" class="navs"><a id="navs">Log Out</a></li>
</ul>

<main ng-if="'rating' | isState">
  <div class="popular-container">
    <h1 class="rotate popular">POPULAR.</h1>
  </div>
    <div class="popular-movies">
      <div ng-repeat="movie in vm.movieInfoByPopularity">
        <p class="movie-info">
          <a ui-sref="rating.movie({movieTitle: movie.title})" ng-click="vm.showMovie(movie); vm.getMovieImages(movie.id)"><img class="movie-poster" src="http://image.tmdb.org/t/p/w154{{movie.poster_path}}" ng-class="{mostPopular:$first}"></a>
        </p>
      </div>
    </div>

</main>

<main ui-view> </main>
