<ul class="navbar" ng-controller="NavController as vm">
  <li class="navs"><a id="navs">Home</a></li>
  <li class="navs"><a id="navs">My Movies</a></li>
  <li class="navs"><a id="navs">Movie Bank</a></li>
  <li class="navs"><a id="navs" ui-sref="browse">Browse</a></li>
  <li class="navs"><a id="navs">Movie Buffs</a></li>
  <li ng-click="vm.logOut()" class="navs"><a id="navs">Log Out</a></li>
  <li class="navs">Welcome</li>
</ul>

<main ng-controller="GenreController as vm">
  <div class="popular-container">
    <h1 class="rotate popular">POPULAR.</h1>
  </div>
    <div class="popular-movies">
      <div ng-repeat="movie in vm.movieInfoByPopularity">
        <p class="movie-info">
          <img class="movie-poster" src="http://image.tmdb.org/t/p/w154{{movie.poster_path}}" ng-class="{mostPopular:$first}">
        </p>
      </div>
    </div>

</main>
