<div class="signin-container">
  <div class="form-containers">
    <h1 class="signup">Sign Up</h1>
    <form ng-submit="vm.signUp()">
      <div class="row">
        <div class="six columns">
          <label for="firstName">First Name</label>
          <input ng-model="vm.user.firstName" class="u-full-width" type="text" placeholder="First Name" id="firstName">
        </div>
        <div class="six columns">
          <label for="lastName">Last Name</label>
          <input ng-model="vm.user.lastName" class="u-full-width" type="text" placeholder="Last Name" id="lastName">
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <label for="email">Email</label>
          <input ng-model="vm.user.email" ng-class="{'red-border': vm.conflict}" class="u-full-width" type="email" placeholder="jngov@yahoo.com" id="email">
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <label for="password">Password</label>
          <input ng-model="vm.user.password" class="u-full-width" type="password" placeholder="Password" id="password">
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <label for="passwordConfirmation">Password Confirmation</label>
          <input ng-model="vm.user.passwordConfirmation" class="u-full-width" type="password" placeholder="Password" id="passowordConfirmation">
        </div>
      </div>
      <input class="button" type="submit" value="Submit">
    </form>
    <small ng-show="vm.conflict">Email already exists</small>
    <small ng-show="vm.unprocessableSignUp">Missing Required Field</small>
  </div>
  <div class="line"></div>
  <div class="form-containers">
    <h1 class="login">Log In</h1>
    <form ng-submit="vm.submitLogIn()">
      <div class="row">
        <div class="ten columns">
          <label for="email">Email</label>
          <input ng-model="vm.logIn.email" class="u-full-width" type="email" placeholder="jngov@yahoo.com" id="email">
        </div>
      </div>
      <div class="row">
        <div class="ten columns">
          <label for="password">Password</label>
          <input ng-model="vm.logIn.password" class="u-full-width" type="password" placeholder="Password" id="password">
        </div>
      </div>
      <input class="button" type="submit" value="Submit">
    </form>
    <small ng-show="vm.unprocessable">Missing Required Field</small>
    <small ng-show="vm.notFound">User Not Found or Password is Incorrect</small>
  </div>
</div>
