<ul class="navbar" ng-controller="NavController as vm">
  <li class="navs"><a id="navs">Home</a></li>
  <li class="navs"><a id="navs">My Movies</a></li>
  <li class="navs"><a id="navs">Movie Bank</a></li>
  <li class="navs"><a id="navs" ui-sref="browse">Browse</a></li>
  <li class="navs"><a id="navs">Movie Buffs</a></li>
  <li ng-click="vm.logOut()" class="navs"><a id="navs">Log Out</a></li>
  <li class="navs">Welcome</li>
</ul>

<main ng-controller="GenreController as vm">
  <div class="genre-container">
    <h1 class="rotate genre">TITLE.</h1>
    <div class="movie-results">
    </div>
  </div>
  <form ng-submit="vm.searchByTitle(title, 1)">
    <div class="row">
      <input class="u-full-width" type="text" placeholder="batman" ng-model="vm.title">
    </div>
    <input class="button submit-title-button" type="submit" value="Submit">
  </form>
  <ul ng-repeat="movie in vm.movieInfoByTitle">
    <li>
      {{movie.title}}
      {{movie.id}}
      <img src="http://image.tmdb.org/t/p/w500{{movie.poster_path}}">
      <img src="http://image.tmdb.org/t/p/w500{{movie.backdrop_path}}">
    </li>
  </ul>
</main>
